.brailleForm{
    background-color:white;
   
    margin-top: 100px;

    
}
.input{
    text-align: right;
    width: 600px;
    height:80px;
    margin-bottom: 120px;
}
.submitButton{
    margin-top: 20px;
    width: 80px;
    margin-left: 80px;
    margin-bottom: 160px;
}
.title{
    text-align: center;
}
.div {
    margin-right: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    height: 60px;
}